extends ../layout

block content
	.container
		h2 Classement
		p  Liste des joueurs
		table.table.table-dark
			thead
			tr
				th Prénom
				th Nom
				th Rang
				th Score
			tbody
			each rank in ranks
				tr
					td #{rank.firstname}
					td #{rank.lastname}
					td #{rank.Range}
					td #{rank.Score}

