header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') Mortal Kombat Tournament
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
  
    .collapse.navbar-collapse(id='navbarSupportedContent')
      ul.navbar-nav.mr-auto
        li.nav-item
          .dropdown
            button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Tournois
            .dropdown-menu(aria-labelledby='dropdownMenu')
              a.dropdown-item(href='/tournament') Liste des tournois
              a.dropdown-item(href='/tournament/new') Ajouter un tournoi
        li.nav-item
          .dropdown
            button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Participants
            .dropdown-menu(aria-labelledby='dropdownMenu')
              a.dropdown-item(href='/players') Liste des Participants
              a.dropdown-item(href='/players/new') Ajouter un participant
        li.nav-item
          .dropdown
            button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Tables
            .dropdown-menu(aria-labelledby='dropdownMenu')
              a.dropdown-item(href='/tables') Liste des Tables
              a.dropdown-item(href='/tables/new') Ajouter une Tables
        li.nav-item
          .dropdown
            button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Scores
            .dropdown-menu(aria-labelledby='dropdownMenu')
              a.dropdown-item(href='/score') Liste des scores
              a.dropdown-item(href='/score/new') Ajouter un score
        li.nav-item
          .dropdown
            button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Utilisateurs
            .dropdown-menu(aria-labelledby='dropdownMenu')
              a.dropdown-item(href='/users') Listes des utilisateurs
              a.dropdown-item(href='/users/new') Ajouter un utilisateur
      ul.navbar-nav.float-right
        li.nav-item
          a.nav-link(href='/auth') Se deconnecter