header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') Mortal Kombat Tournament
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
  
    .collapse.navbar-collapse(id='navbarSupportedContent')
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/tournament') Tournois
        li.nav-item
          a.nav-link(href='/participants') Participants
        li.nav-item
          a.nav-link(href='/places') Places
      ul.navbar-nav.float-right
        li.nav-item
          a.nav-link(href='/auth') Se deconnecter