section.jumbotron.text-center
    .container
        h1 Mortal Kombat Tornament
        p.lead.text-muted Le tournoi de poker absolument mortel !!!
        p
          a.btn.btn-primary.m-2(href="/tornament/new") premier bouton
          a.btn.btn-secondary.m-2(href="#") deuxième bouton